<ifmodule mod_rewrite.c>
 RewriteEngine On
 RewriteBase /testcase_majoo
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteRule ^(.*)$ /testcase_majoo/index.php/$1 [L]
</ifmodule>
<ifmodule !mod_rewrite.c>
 ErrorDocument 404 /testcase_majoo/index.php
</ifmodule>